
fastapi==0.103.2
mangum==0.17.0

libsql-client

python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6

python-dotenv==1.0.0

pydantic==1.10.13

email-validator==2.1.0

ulid-py==1.1.0
qrcode[pil]==7.4.2
pillow==10.2.0

python-dateutil==2.8.2

httpx==0.26.0
anyio>=4.0.0
